:root {
  --primary_Clr: #0a2640;
  --secondary_Clr: #65e4a3;
  --btn_Clr: #1c3d5b;
}

.btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid transparent;
  font-size: 0.9rem;
  color: #ffffff;
  background: var(--primary_Clr);
  transition: 0.2s ease-in;
  cursor: pointer;
  margin-bottom: 2%;
}

.btn:hover {
  background: transparent;
  color: var(--primary-Clr1);
  border: 2px solid var(--primary_Clr);
}

.btn2 {
  background: transparent;
  border: 2px solid var(--primary_Clr);
  border-radius: 10px;
  padding: 10px 30px;
  color: var(--primary_Clr);
  margin-left: 20px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn2:hover {
  background: var(--primary_Clr);
  border: 2px solid transparent;
  color: #fff;
}
