#services {
  padding: 10% 5% 5% 5%;
}

.service_main_title {
  font-size: 2.3rem;
  padding-bottom: 3%;
  color: var(--primary_Clr);
  text-transform: uppercase;
  font-weight: 400;
}

.description {
  padding: 0px 20% 5% 0px;
  line-height: 1.4rem;
  font-size: 1.1rem;
  opacity: 0.7;
}

.services_wripper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

@media screen and (max-width: 767px) {
  #services {
    padding-top: 25%;
  }
  .service_main_title {
    font-size: 2rem;
    padding-bottom: 6%;
    font-weight: 400;
  }
  .services_wripper {
    margin-top: 8%;
  }
}
