.view_card {
  width: 320px;
  height: 30vh;
  background: var(--primary_Clr);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.4s ease-in;
}

.view_card:hover {
  transform: translateY(-20px);
}

.number {
  font-size: 2.4rem;
  color: var(--text_Clr);
  padding-bottom: 4%;
}

.number_description {
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0.6;
  color: var(--text_Clr);
}
