:root {
  --primary_Clr: #0a2640;
  --secondary_Clr: #65e4a3;
  --btn_Clr: #1c3d5b;
  --text_Clr: #ffffff;
}

.service_card_wripper {
  width: 350px;
  padding: 2% 2% 4% 2%;
  background: var(--text_Clr);
  border-radius: 20px;
  text-align: center;
  transition: 0.4s ease-in;
  box-shadow: 8px 8px 10px 7px lightgray;
}

.service_card_wripper:hover {
  .service_icon_wripper {
    background: var(--primary_Clr);
    transition: 0.4s ease-in;
  }
  .icon {
    color: #ffffff;
  }
}

.service_icon_wripper {
  width: 100px;
  height: 100px;
  border: 6px solid var(--primary_Clr);
  border-radius: 50px;
  margin: 1.5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 2.7rem;
  color: var(--primary_Clr);
}

.service_title {
  font-size: 1.7rem;
  color: var(--primary_Clr);
  padding: 3% 0px 5% 0px;
  text-transform: uppercase;
  font-weight: 400;
}

.services_decsription {
  line-height: 1.4rem;
}
