#contact_me {
  height: 160vh;
  background: var(--background-Clr);
  padding: 20px;

  .contact_me_wripper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;

    .contact_me_content_one {
      width: 48%;
      height: 60vh;
      flex-direction: column;
      padding: 40px;

      .contact_me_title {
        font-size: 1.2rem;
        padding-bottom: 2%;
        opacity: 0.8;
      }

      .contact_me_sub_title {
        font-size: 2.2rem;
        font-weight: 700;
        color: #130f49;
        padding-bottom: 3%;
      }

      .contact_me_description {
        font-size: 1.2rem;
        opacity: 0.8;
        padding-bottom: 3%;
      }
    }
  }

  .contact-me-content {
    width: 70%;
    height: 6vh;
    margin-top: 15px;
    display: flex;
    gap: 20px;

    .contact-me-icon {
      width: 13%;
      height: 6vh;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .contact-me-url {
      width: 80%;
      height: 6vh;
      display: flex;
      align-items: center;
    }

    .contact-me-url a {
      text-decoration: none;
      font-size: 1rem;
      color: #130f49;
    }
  }

  /* form styling  */
  .input {
    width: 95%;
    height: 9vh;
    padding-left: 20px;
    font-size: 1rem;
    outline: none;
    border: 2px solid #d3d3d3;
    margin-bottom: 4%;
  }

  #message {
    width: 95%;
    height: 15vh;
    outline: none;
    padding: 10px 0px 0px 20px;
    font-size: 1.2rem;
    border: 2px solid #d3d3d3;
    margin-bottom: 2%;
  }

  .contact-btn {
    font-size: 1.2rem;
    padding: 10px 40px;
    border-radius: 5px;
  }

  .map_wripper {
    width: 95%;
    height: 60vh;
    margin: 5% auto;
    background-color: darkgray;
  }

  /* Footer  style*/
  .footer {
    margin-left: 40px;
  }
  .copyright {
    color: var(--primary-Clr1);
    font-size: 1.2rem;
  }
}
