nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4% 6%;
  box-shadow: 4px 4px 4px 0px var(--primary_Clr);
  background: var(--primary_Clr);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  .logo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid var(--text_Clr);
    overflow: hidden;

    .img {
      width: 100%;
      height: 100%;
    }
  }
}

.nav_links ul li {
  font-size: 1.1rem;
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links ul li a {
  text-decoration: none;
  color: var(--text_Clr);
}

.nav_links ul li::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--text_Clr);
  display: block;
  margin: auto;
  transition: 0.4s ease-in;
}

.nav_links ul li:hover::after {
  width: 100%;
}

.showMenu,
.hideMenu {
  display: none;
}

@media screen and (max-width: 767px) {
  .nav_links {
    position: absolute;
    background: var(--primary_Clr);
    top: -320px;
    right: 5px;
    width: 350px;
    text-align: center;
    padding: 4% 2%;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
  }
  .nav_links ul li {
    display: block;
    padding: 2% 0px;
    font-size: 1.4rem;
  }
  .showMenu,
  .hideMenu {
    display: block;
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
  }

  .hideMenu {
    position: absolute;
    top: 0;
    right: 20px;
  }
}
