@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary_Clr: red;
  --secondary_Clr: blue;
  --btn_Clr: gray;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
  background: yellow;

  .logo {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 3px solid var(--secondary_Clr);
  }
}

.nav_links ul li {
  font-size: 1.2rem;
  list-style: none;
}

.nav_links ul li a {
  display: inline-block;
}
