@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.TechIconWripper {
		@apply w-28 h-28  border-4 shadow-lg border-neutral-600 cursor-pointer rounded-lg flex justify-center items-center flex-col gap-y-1;
	}
	.icon {
		@apply size-16;
	}
	.projectCard {
		@apply md:w-card_lg w-full h-fit shadow-lg shadow-neutral-300 rounded-md mx-auto md:p-8 p-4 flex flex-wrap flex-col md:flex-row gap-y-6 md:gap-x-6 md:flex-nowrap md:mb-10 mb-12;
	}
	.projectContentWripper {
		@apply md:w-2/4 w-full  rounded-xl overflow-hidden cursor-pointer;
	}
	.input {
		@apply w-full bg-[#f5f5f5] h-11 px-3 outline-none border-none rounded-sm focus:ring-inset focus:ring-2;
	}
}

:root {
	font-family: "Roboto", sans-serif;
	color: #303841;
}

::-webkit-scrollbar {
	width: 8px;
	border-radius: 30px;
}
::-webkit-scrollbar-track {
	background: #243073;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(to top, #0000, #ffffff, #243073);
	height: 5px;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(to top, green, white, #243073);
}
